.new-task-popup-container{
    font-family: 'Quicksand', sans-serif !important;

}
.head{
    display: flex;
    justify-content: space-between;
}
.save-btn{
   background-image: url("src\assets\fresh-bacon-meat-product-cartoon-vector-illustration_223337-4953.webp");
}